version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334

  app:
    build:
      context: .
      dockerfile: dock.dockerfile
    container_name: event_recommender
    ports:
      - "8000:8000"
    environment:
      - QDRANT_URL=http://qdrant:6333
      - QDRANT_API_KEY=${QDRANT_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - ENABLE_LLM_VERIFICATION=${ENABLE_LLM_VERIFICATION:-false}
    depends_on:
      - qdrant
    volumes:
      - .:/app  # Dla hot-reload podczas developmentu
    restart: unless-stopped

volumes:
  qdrant_storage: